/* Reset Layout Browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General CSS */
body{
    background-color: #222222;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

/* Inizio CSS Header */

header{
    background-color: #255EE9;
    display: flex;
    flex-wrap: wrap;
}

section.top{
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 90%;
    margin: 10px auto;
    
}

.logo{
    
    padding-left: 10px;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.menu-item{
    padding: 0 10px;
}

.login{
    padding-right: 10px;
}

.login-item a{
    text-decoration: none;
    background-color: white;
    border: solid white;
    border-radius: 15px;
    margin-left: 20px;
    color: darkblue;
    padding: 6px;
    font-weight: 600;
}

.bot{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 35%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 300px;
}


.header-content{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 60%;
    margin: 0px auto;
    text-align: center;
    color: white;
    justify-content: center;
    
}

.header-content > h2{
    padding-bottom: 30px;
    font-size: 40px;
}
.header-content p{
    padding-bottom: 20px;
}
.header-content button{
    height: 40px;
    border: 0;
    border-radius: 15px;
    margin-left: 20px;
}


.but-white{
    background: fixed white;
    width: 30%;
    text-align: center;
}

.but-white img{
    width: 9px;
    margin-right: 10px;
}

.but-dark{
    background: fixed #313338;
    color: white;
    width: 40%;
    text-align: center;
}

/* Fine CSS Header */

/* Inizio CSS Main */

main{
    background-color: #222222;
}


.flex-container-row{
    height: 500px;
    background-color: white;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center ;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.blue{
    height: 230px;
    width: 70%;
}

.blue img{
    width: 100%;
}

.pink{
    height: 230px;
    width: 30%;
    text-align: left;
    align-items: center;
}

.pink h2{
    padding-bottom: 10px;
}

.bg-dark{
    background-color: #D3D3D3;
}

.bg-white{
    background-color: white;

}
.flex-container-row-rev{
    height: 500px;
    background-color: #D3D3D3;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center ;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.box{
    background-color: #D3D3D3;

}

.green{
    height: 900px;
    background-color: #D3D3D3;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center ;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.green h2{
    padding-bottom: 30px;
    font-size: 35px;
    font-weight: 600;
}
.green img{
    width: 800px;
}

.green button{
    height: 50px;
    border: 0;
    border-radius: 15px;
    margin-left: 20px;
    width: 200px;
    font-size: 20px;
    background-color: #5865F2;
    color: white;
}

.green button img{
    
    width: 9px;
    margin-right: 10px;
    filter: invert(1);
}



/* Fine CSS Main */

/* Inizio CSS Footer */

.flex-container-column{
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 220px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.red{
    height: 200px;
    width: 60%;
    margin: 0px auto;
    color: white;

}

.red h2{
    padding-bottom: 20px;
    color: #7983F5;
}

.red p{
    
}

p img.flag{
    width: 20px;
}

p img.angle-down{
    width: 15px;
    filter: invert(1);
}

.acqua{
    height: 200px;
    width: 40%;
    margin: 0px auto;
    color: white;
    line-height: 30px;
}

.acqua h3{
    padding-bottom: 20px;
    color: #7983F5;
}

footer{
    padding-top: 10px;
}

hr{
    width: 80%;
    margin: 0 auto;

}

section.foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 80%;
    margin: 0px auto;
    padding-top: 50px;
    padding-bottom: 200px;
}

.button-item > button{
    color: white;
    background-color: #7983F5;
    border: 0;
    height: 30px;
    width: 100px;
    border-radius: 15px;
}

/* Fine CSS Footer */